{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Neighbourhood</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico">
    
  </head>

  <body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script crossorigin="anonymous" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
  </body>
</html>
